<a href="https://colab.research.google.com/github/economicactivist/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/Mountain_Scott_Module2_Sprint1_Unit3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -i https://test.pypi.org/simple/ Mountain-Scott-ds12

Looking in indexes: https://test.pypi.org/simple/
Collecting Mountain-Scott-ds12
  Downloading https://test-files.pythonhosted.org/packages/5c/0e/6cef102576d5c20a348f813d9a5e8e941b8ae3f762a001bf117b1c549b5a/Mountain_Scott_ds12-1.0-py3-none-any.whl
Installing collected packages: Mountain-Scott-ds12
Successfully installed Mountain-Scott-ds12-1.0

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
a = {'A': [1,4,6,7,3,6,8,12,1,67]}
df = pd.DataFrame(a)

In [0]:
from lambdata_mountain.my_mod import SplitAddColumn

In [0]:
to_split = SplitAddColumn(df)

In [0]:
train, test = to_split.df_split(.3, 23)

In [11]:
train

    A
9  67
4   3
7  12
1   4
0   1
6   8
3   7

In [12]:
test

   A
5  6
8  1
2  6

In [13]:
to_split.list_to_new_column("e e g y d r g h w f".split(), "random_abcs")

    A random_abcs
0   1           e
1   4           e
2   6           g
3   7           y
4   3           d
5   6           r
6   8           g
7  12           h
8   1           w
9  67           f